@charset "utf-8";

#coins {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    font-size: 30px;
}

#coinCounterImage {
    background-image: url(../images/coin.gif);
    height: 35px;
    width: 35px;
    background-size: 70px;
    background-position: center;
}

.errorContainer {
    color: #DD2222FF;
}

.succesContainer {
    color: #22BB22FF;
}

#shopBox {
    text-align: center;
}

#birdsShowcase {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin: auto;
    max-width: 1200px;
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.coinImage {
    background-image: url(../images/coin.gif);
    height: 25px;
    width: 25px;
    background-size: 50px 50px;
    background-position: center center;
}

.priceContainer {
    display: flex;
    align-items: center;
}

.priceContainer .red {
    color: #DD2222FF;
}

.priceContainer .blue {
    color: blue;
}

h1 {
    text-align: center;
}